In [7]:
import pandas as pd
import requests

In [12]:
data = pd.read_csv('./top-1m.csv')

In [13]:
data.head()

   1     google.com
0  2    youtube.com
1  3   facebook.com
2  4      baidu.com
3  5  wikipedia.org
4  6      yahoo.com

In [15]:
root_Domain = data["google.com"]
root_Domain.head()

0      youtube.com
1     facebook.com
2        baidu.com
3    wikipedia.org
4        yahoo.com
Name: google.com, dtype: object

In [16]:
for i in root_Domain:
    if i.find('www.') == -1:
        i = "https://www."+i
    else:
        i = "https://"+i
    file = open("moderna.txt","a")
    file.write(i+"\n")
    file.close()