In [1]:
import pandas as pd

# Data structuring

In [18]:
benignoAlexa = pd.read_csv('./Conda2/ErrorReparado/BenignoAlex/TIME/BenignoAlex.csv')
benignoAlexa.head(2)

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
0,0-csves/0.csv,42,TCP,UDP,NaN,138.6785,193.6895,194.93300,6778.668,240.226,...,443,80.0,1900.0,4.25,7.0,8.0,178.5,256.0,312.00,not_mine
1,0-csves/1.csv,46,UDP,TCP,ICMP6,0.0000,0.1090,45.09775,784.026,93.159,...,53,80.0,34048.0,1.00,2.0,7.5,47.0,90.5,741.75,not_mine

In [22]:
print(f"El dataset benigno no aleatorio inicial es de {benignoAlexa.ndim} dimensiones con {benignoAlexa.shape[0]} filas y {benignoAlexa.shape[1]} columnas")

El dataset benigno no aleatorio inicial es de 2 dimension con 2008 filas y 31 columnas

In [19]:
benignoAleatorio = pd.read_csv('./Conda2/ErrorReparado/Benigno/TIME/benignas.csv')
benignoAleatorio.head(2)

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
0,0-csves/0.csv,65,TCP,UDP,NaN,18.939,168.173,194.287,7845.126,244.362,...,443,80.0,123.0,3.0,7.0,22.0,127.0,255.0,1888.0,not_mine
1,0-csves/1.csv,18,UDP,TCP,NaN,0.000,0.000,0.000,0.086,0.044,...,443,53.0,53195.0,1.0,1.0,1.0,37.0,47.0,64.0,not_mine

In [23]:
print(f"El dataset benigno aleatorio inicial es de {benignoAleatorio.ndim} dimensiones con {benignoAleatorio.shape[0]} filas y {benignoAleatorio.shape[1]} columnas")

El dataset benigno aleatorio inicial es de 2 dimension con 696 filas y 31 columnas

In [24]:
bitcash = pd.read_csv('./Conda2/ErrorReparado/bitcash/TIME/bitcash.csv')
bitcash.head(2)

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
0,0-csves/0.csv,2,TCP,NaN,NaN,273.28125,273.2815,273.28175,546.563,273.282,...,3337,54082.0,NaN,18.0,18.0,18.0,4702.50,9045.0,13387.50,mine
1,0-csves/1.csv,2,TCP,NaN,NaN,508.01725,508.0175,508.01775,1016.035,508.018,...,3337,54082.0,NaN,19.5,20.0,20.5,4552.75,8475.5,12398.25,mine

In [26]:
print(f"El dataset bitcash aleatorio inicial es de {bitcash.ndim} dimensiones con {bitcash.shape[0]} filas y {bitcash.shape[1]} columnas")

El dataset bitcash aleatorio inicial es de 2 dimension con 485 filas y 31 columnas

In [28]:
bitcoin = pd.read_csv('./Conda2/ErrorReparado/bitcoin/TIME/bitcoin.csv')
bitcoin.head(2)

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
0,0-csves/0.csv,4,TCP,NaN,NaN,114.79300,180.0435,245.27525,720.099,245.276,...,3332,51931,51934.0,10.0,12.5,15.0,433.0,3820.0,8314.0,mine
1,0-csves/1.csv,2,TCP,NaN,NaN,196.18225,196.1895,196.19675,392.379,196.204,...,3332,51905,NaN,10.5,11.0,11.5,2679.5,5159.0,7638.5,mine

In [44]:
print(f"El dataset bitcoin inicial es de {bitcoin.ndim} dimensiones con {bitcoin.shape[0]} filas y {bitcoin.shape[1]} columnas")

El dataset bitcoin inicial es de 2 dimension con 247 filas y 31 columnas

In [32]:
litecoin = pd.read_csv('./Conda2/ErrorReparado/litecoin/TIME/litecoin.csv')
litecoin.head(2)

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
0,0-csves/1.csv,2,TCP,NaN,NaN,57.68200,57.6820,57.68200,115.364,57.682,...,3333,56490.0,NaN,3.0,3.0,3.0,625.25,1190.5,1755.75,mine
1,0-csves/2.csv,2,TCP,NaN,NaN,580.17325,580.1735,580.17375,1160.347,580.174,...,3333,56490.0,NaN,43.0,44.0,45.0,7810.00,14276.0,20742.00,mine

In [42]:
print(f"El dataset litecoin inicial es de {litecoin.ndim} dimensiones con {litecoin.shape[0]} filas y {litecoin.shape[1]} columnas")

El dataset litecoin inicial es de 2 dimension con 324 filas y 31 columnas

In [35]:
eth = pd.read_csv('./Conda2/ErrorReparado/eth/TIME/eth.csv')
eth.head(2)

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
0,0-csves/0.csv,14,TCP,NaN,NaN,22.79225,56.2595,74.00125,812.963,144.351,...,4444,58780.0,NaN,16.25,38.0,45.50,1636.25,2336.5,8438.25,mine
1,0-csves/1.csv,2,TCP,NaN,NaN,316.98975,317.9455,318.90125,635.891,319.857,...,4444,58780.0,NaN,172.25,178.5,184.75,16359.50,24185.0,32010.50,mine

In [40]:
print(f"El dataset ethereum  inicial es de {eth.ndim} dimensiones con {eth.shape[0]} filas y {eth.shape[1]} columnas")

El dataset ethereum  inicial es de 2 dimension con 950 filas y 31 columnas

In [37]:
monero = pd.read_csv('./Conda2/ErrorReparado/monero/TIME/monero.csv')
monero.head(2)

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
0,0-csves/0.csv,4,TCP,NaN,NaN,523.726,523.726,523.726,2094.904,523.726,...,51085,14444,NaN,21.0,21.0,21.0,1270.0,2339.0,3408.0,mine
1,0-csves/1.csv,4,TCP,NaN,NaN,485.351,485.351,485.351,1941.404,485.351,...,51085,14444,NaN,14.0,14.0,14.0,304.0,1993.0,3682.0,mine

In [41]:
print(f"El dataset monero  inicial es de {monero.ndim} dimensiones con {monero.shape[0]} filas y {monero.shape[1]} columnas")

El dataset monero  inicial es de 2 dimension con 192 filas y 31 columnas

In [39]:
sinclasificar = pd.read_csv('./Conda2/ErrorReparado/sinclasificar/VentanaTime/sinclasificar.csv')
sinclasificar.head(2)

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
0,0-csves/0.csv,8093,TCP,UDP,ICMP,0.12,0.122,0.124,11392.454,177.706,...,53,443.0,80.0,2.0,2.0,2.0,40.0,88.0,88.0,mine
1,0-csves/1.csv,44009,TCP,UDP,NaN,0.12,0.121,0.124,10810.666,55.906,...,53,443.0,80.0,2.0,2.0,2.0,40.0,70.0,88.0,mine

In [45]:
print(f"El dataset mineros sin clasificar inicial es de {sinclasificar.ndim} dimensiones con {sinclasificar.shape[0]} filas y {sinclasificar.shape[1]} columnas")

El dataset mineros sin clasificar inicial es de 2 dimension con 37033 filas y 31 columnas

Asignamos una columna 'Cryptocurrency' y 'Id_Cryptocurrency' para representar el tipo de criptomoneda, ya que concatenaremos los conjunto de datos mineros y el conjunto de trafico no minero.

In [46]:
benignoAlexa['Cryptocurrency'] = None
benignoAlexa['Id_Cryptocurrency'] = 0

In [47]:
bitcoin['Cryptocurrency'] = 'Bitcoin'
bitcoin['Id_Cryptocurrency'] = 1
bitcash['Cryptocurrency'] = 'Bitcash'
bitcash['Id_Cryptocurrency'] = 2
litecoin['Cryptocurrency'] = 'Litecoin'
litecoin['Id_Cryptocurrency'] = 3
eth['Cryptocurrency'] = 'Etherium'
eth['Id_Cryptocurrency'] = 4
monero['Cryptocurrency'] = 'Monero'
monero['Id_Cryptocurrency'] = 5
sinclasificar['Cryptocurrency'] = 'sinclasificar'
sinclasificar['Id_Cryptocurrency'] = 6

#### Concatenaremos los conjuntos de datos de trafico minero y del conjunto no aleatorio de trafico no minero

In [48]:
pure_data_miner = pd.concat([bitcoin,bitcash,litecoin,eth,monero,benignoAlexa], axis=0)

In [49]:
pure_data_miner.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007],
           dtype='int64', length=4206)

In [51]:
print(f"El dataset estructurado inicial es de {pure_data_miner.ndim} dimensiones con {pure_data_miner.shape[0]} filas y {pure_data_miner.shape[1]} columnas")

El dataset estructurado inicial es de 2 dimensiones con 4206 filas y 33 columnas

In [52]:
pure_data_miner.head()

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type,Cryptocurrency,Id_Cryptocurrency
0,0-csves/0.csv,4,TCP,NaN,NaN,114.79300,180.0435,245.27525,720.099,245.276,...,51934.0,10.00,12.5,15.00,433.00,3820.0,8314.00,mine,Bitcoin,1
1,0-csves/1.csv,2,TCP,NaN,NaN,196.18225,196.1895,196.19675,392.379,196.204,...,NaN,10.50,11.0,11.50,2679.50,5159.0,7638.50,mine,Bitcoin,1
2,0-csves/2.csv,2,TCP,NaN,NaN,244.14325,244.1435,244.14375,488.287,244.144,...,NaN,16.00,16.0,16.00,3642.75,6807.5,9972.25,mine,Bitcoin,1
3,0-csves/3.csv,2,TCP,NaN,NaN,244.04600,244.0460,244.04600,488.092,244.046,...,NaN,16.00,16.0,16.00,3592.50,6707.0,9821.50,mine,Bitcoin,1
4,0-csves/4.csv,2,TCP,NaN,NaN,246.79500,246.7950,246.79500,493.590,246.795,...,NaN,17.75,18.5,19.25,3728.75,6959.5,10190.25,mine,Bitcoin,1

In [54]:
# Resetie los indices del dataframe, para que no apunte un mismo indice a varios registros, y hacemos una copia para no afectar la integridad de la copia original
pure_data_miner = pure_data_miner.reset_index()

In [65]:
# Genere un rango de valores
indices = list(range(0,len(pure_data_miner.index)))
import random
# El rango de valores se le aplico aleatoriedad, la desorganizar de manera pseudoaleatorio los elementos
random.shuffle(indices)

In [66]:
# Introduje aleatoriedad al conjunto de datos con el rango de indices 
pure_data_miner = pure_data_miner.reindex(indices)
pure_data_miner

,level_0,index,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,...,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type,Cryptocurrency,Id_Cryptocurrency
176,176,176,29-csves/3.csv,6,TCP,NaN,NaN,93.88275,241.4400,242.21475,...,51748.0,11.50,16.0,21.25,478.00,2669.0,11625.00,mine,Bitcoin,1
3526,3526,1328,682-csves/0.csv,483,TCP,UDP,NaN,0.00000,0.0020,3.00200,...,80.0,1.00,2.0,11.00,32.00,80.0,1158.00,not_mine,None,0
2039,2039,33,9-csves/4.csv,4,TCP,NaN,NaN,231.44000,231.4400,231.44000,...,NaN,8.00,8.0,8.00,330.00,1005.5,1681.00,mine,Monero,5
2324,2324,126,66-csves/0.csv,18,TCP,UDP,NaN,75.77875,103.6600,135.16800,...,1900.0,3.00,4.0,6.00,96.00,128.0,234.00,not_mine,None,0
2213,2213,15,8-csves/0.csv,47,TCP,UDP,NaN,3.00500,89.6120,149.42500,...,1900.0,4.00,5.0,7.00,116.00,188.0,280.00,not_mine,None,0
2477,2477,279,143-csves/1.csv,37,UDP,TCP,NaN,0.00000,0.0000,3.00300,...,53.0,1.00,1.0,3.00,48.00,64.0,96.00,not_mine,None,0
1703,1703,647,78-csves/11.csv,2,TCP,NaN,NaN,406.31200,406.3250,406.33800,...,NaN,229.50,236.0,242.50,21347.00,32006.0,42665.00,mine,Etherium,4
29,29,29,4-csves/5.csv,2,TCP,NaN,NaN,241.91000,241.9100,241.91000,...,NaN,17.75,19.5,21.25,3828.50,7179.0,10529.50,mine,Bitcoin,1
2716,2716,518,266-csves/1.csv,32,TCP,UDP,NaN,3.00425,121.8585,180.73375,...,1900.0,4.00,4.5,5.25,116.00,160.0,256.00,not_mine,None,0
3544,3544,1346,691-csves/1.csv,21,TCP,UDP,NaN,75.77600,104.4100,149.65300,...,1900.0,3.00,5.0,7.00,96.00,160.0,248.00,not_mine,None,0
772,772,40,10-csves/4.csv,2,TCP,NaN,NaN,248.35425,248.3545,248.35475,...,NaN,15.50,16.0,16.50,2240.50,3929.0,5617.50,mine,Litecoin,3
1430,1430,374,44-csves/2.csv,2,TCP,NaN,NaN,334.75100,334.7510,334.75100,...,NaN,186.00,192.0,198.00,17344.75,25866.5,34388.25,mine,Etherium,4
1904,1904,848,99-csves/10.csv,2,TCP,NaN,NaN,300.02725,300.0275,300.02775,...,NaN,179.75,182.5,185.25,15999.00,24233.0,32467.00,mine,Etherium,4
445,445,198,32-csves/5.csv,2,TCP,NaN,NaN,548.20025,548.2005,548.20075,...,NaN,23.00,23.0,23.00,5006.00,9552.0,14098.00,mine,Bitcash,2
2930,2930,732,376-csves/1.csv,41,TCP,UDP,NaN,0.00000,3.0050,45.05600,...,123.0,1.00,2.0,19.00,48.00,112.0,4662.00,not_mine,None,0
4124,4124,1926,989-csves/0.csv,48,UDP,NaN,NaN,0.00000,0.0000,0.00000,...,57341.0,1.00,1.0,1.00,39.75,47.5,94.75,not_mine,None,0
3591,3591,1393,716-csves/0.csv,138,UDP,TCP,NaN,0.00000,0.0000,18.68400,...,443.0,1.00,1.0,4.00,48.00,87.0,394.50,not_mine,None,0
588,588,341,54-csves/8.csv,2,TCP,NaN,NaN,269.33600,269.3360,269.33600,...,NaN,16.25,16.5,16.75,3797.00,7148.0,10499.00,mine,Bitcash,2
692,692,445,72-csves/5.csv,2,TCP,NaN,NaN,543.10300,543.1030,543.10300,...,NaN,27.25,27.5,27.75,6652.75,12640.5,18628.25,mine,Bitcash,2
3298,3298,1100,566-csves/0.csv,27,TCP,UDP,NaN,0.00000,0.0010,0.75500,...,123.0,1.00,2.0,3.00,38.00,53.0,78.50,not_mine,None,0
4120,4120,1922,987-csves/0.csv,252,TCP,UDP,NaN,0.00000,0.0900,45.31000,...,80.0,1.00,3.0,16.00,37.00,136.0,3462.75,not_mine,None,0
2977,2977,779,401-csves/0.csv,130,TCP,UDP,NaN,7.62125,172.4350,240.29550,...,1900.0,3.00,5.5,23.00,144.00,240.0,3334.50,not_mine,None,0
743,743,11,3-csves/2.csv,2,TCP,NaN,NaN,572.02400,572.0240,572.02400,...,NaN,38.00,39.0,40.00,8708.00,16172.0,23636.00,mine,Litecoin,3
3885,3885,1687,866-csves/0.csv,17,UDP,TCP,NaN,0.00000,0.6620,12.42700,...,5353.0,1.00,3.0,4.00,60.00,96.0,375.00,not_mine,None,0
3237,3237,1039,535-csves/0.csv,915,TCP,UDP,ICMP,0.00000,0.1770,12.90150,...,2817.0,1.00,3.0,13.00,46.50,446.0,3588.50,not_mine,None,0
1559,1559,503,60-csves/2.csv,2,TCP,NaN,NaN,572.22300,572.2330,572.24300,...,NaN,324.00,333.0,342.00,30224.00,44861.0,59498.00,mine,Etherium,4
1721,1721,665,78-csves/31.csv,8,TCP,NaN,NaN,40.09650,66.2525,93.43925,...,NaN,25.25,39.5,50.50,1914.75,3515.0,7571.00,mine,Etherium,4
3940,3940,1742,894-csves/1.csv,63,TCP,UDP,NaN,119.24200,148.2690,194.08600,...,80.0,6.00,7.0,8.00,140.00,224.0,312.00,not_mine,None,0
1840,1840,784,93-csves/12.csv,36,TCP,NaN,NaN,9.77150,18.9085,24.13775,...,NaN,6.50,10.5,14.00,467.00,822.0,2373.75,mine,Etherium,4
230,230,230,38-csves/1.csv,6,TCP,NaN,NaN,122.82400,240.5955,242.30000,...,51467.0,12.25,16.0,21.25,476.00,3407.0,11993.00,mine,Bitcoin,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969,969,237,57-csves/1.csv,2,TCP,NaN,NaN,279.56725,279.5675,279.56775,...,NaN,18.75,19.5,20.25,3138.75,5539.5,7940.25,mine,Litecoin,3
1797,1797,741,86-csves/24.csv,30,TCP,NaN,NaN,2.73775,10.0355,33.66350,...,NaN,2.25,7.0,21.25,274.00,685.0,1979.75,mine,Etherium,4
2299,2299,101,53-csves/1.csv,11,UDP,NaN,NaN,0.00000,0.0000,0.00000,...,57825.0,1.00,1.0,1.00,37.00,40.0,66.00,not_mine,None,0
3394,3394,1196,615-csves/0.csv,42,TCP,UDP,NaN,13.57375,45.0730,58.10425,...,123.0,2.00,3.0,4.00,64.00,96.0,184.00,not_mine,None,0
2345,2345,147,76-csves/1.csv,187,TCP,UDP,NaN,45.30650,54.5460,148.17800,...,123.0,5.50,8.0,20.00,192.00,693.0,4823.00,not_mine,None,0
451,451,204,33-csves/5.csv,2,TCP,NaN,NaN,156.88900,163.4120,169.93500,...,NaN,10.00,10.0,10.00,2009.50,3714.0,5418.50,mine,Bitcash,2
2942,2942,744,382-csves/1.csv,194,TCP,UDP,NaN,0.00000,0.0000,0.58850,...,53.0,1.00,1.0,2.00,32.00,32.0,64.00,not_mine,None,0
4107,4107,1909,979-csves/0.csv,5,TCP,UDP,NaN,0.00000,0.0000,0.00100,...,42090.0,1.00,1.0,2.00,32.00,64.0,166.00,not_mine,None,0
687,687,440,71-csves/6.csv,2,TCP,NaN,NaN,528.18075,528.1815,528.18225,...,NaN,27.50,28.0,28.50,6014.00,11238.0,16462.00,mine,Bitcash,2
2185,2185,179,51-csves/3.csv,4,TCP,NaN,NaN,271.36900,271.3895,271.41000,...,NaN,11.00,11.0,11.00,402.00,1436.0,2470.00,mine,Monero,5
1428,1428,372,44-csves/0.csv,10,TCP,NaN,NaN,38.87200,63.5045,72.41675,...,NaN,24.00,34.0,46.75,1235.00,2131.5,6954.50,mine,Etherium,4
1944,1944,888,102-csves/23.csv,26,TCP,NaN,NaN,10.50725,15.1850,24.00200,...,NaN,8.25,12.0,16.75,512.00,985.0,2745.50,mine,Etherium,4
3689,3689,1491,766-csves/1.csv,57,TCP,UDP,NaN,27.34800,59.4670,92.16100,...,1900.0,4.00,5.0,6.00,80.00,120.0,177.00,not_mine,None,0
4091,4091,1893,971-csves/0.csv,183,TCP,UDP,NaN,0.00000,0.0000,46.09800,...,80.0,1.00,1.0,4.00,32.00,60.0,147.50,not_mine,None,0
1303,1303,247,30-csves/24.csv,2,TCP,NaN,NaN,389.64225,389.7695,389.89675,...,NaN,198.25,207.5,216.75,19143.00,28265.0,37387.00,mine,Etherium,4
1770,1770,714,84-csves/5.csv,2,TCP,NaN,NaN,296.58300,296.5830,296.58300,...,NaN,168.25,172.5,176.75,15533.75,23015.5,30497.25,mine,Etherium,4
3926,3926,1728,887-csves/0.csv,234,TCP,UDP,NaN,0.00000,0.0000,29.86300,...,123.0,1.00,1.0,4.00,32.00,40.5,129.50,not_mine,None,0
915,915,183,43-csves/0.csv,2,TCP,NaN,NaN,554.84575,554.8465,554.84725,...,NaN,47.00,49.0,51.00,7876.75,13853.5,19830.25,mine,Litecoin,3
81,81,81,13-csves/3.csv,4,TCP,NaN,NaN,226.71875,237.5470,240.89225,...,51702.0,15.00,15.5,17.00,473.00,7145.5,13885.25,mine,Bitcoin,1
3637,3637,1439,739-csves/0.csv,4,UDP,NaN,NaN,0.00000,0.0000,0.00000,...,38900.0,1.00,1.0,1.00,33.75,51.0,70.25,not_mine,None,0
1448,1448,392,47-csves/6.csv,12,TCP,NaN,NaN,9.81850,19.1450,74.72350,...,NaN,9.25,12.0,52.75,532.75,1995.5,3007.00,mine,Etherium,4
866,866,134,31-csves/0.csv,2,TCP,NaN,NaN,290.78000,290.7800,290.78000,...,NaN,23.25,23.5,23.75,4204.25,7704.5,11204.75,mine,Litecoin,3
565,565,318,50-csves/4.csv,2,TCP,NaN,NaN,227.52400,227.5240,227.52400,...,NaN,17.00,17.0,17.00,4441.25,8542.5,12643.75,mine,Bitcash,2
3890,3890,1692,868-csves/1.csv,13,TCP,UDP,NaN,3.00300,151.8400,157.69700,...,36130.0,4.00,5.0,5.00,120.00,148.0,160.00,not_mine,None,0
2815,2815,617,317-csves/1.csv,65,TCP,UDP,NaN,0.00000,0.0000,3.03300,...,80.0,1.00,1.0,4.00,32.00,48.0,135.00,not_mine,None,0
3249,3249,1051,541-csves/0.csv,411,TCP,UDP,NaN,0.00000,29.7150,90.09300,...,80.0,1.00,2.0,5.00,32.00,64.0,216.00,not_mine,None,0
3934,3934,1736,891-csves/0.csv,81,TCP,UDP,NaN,52.62200,61.4620,166.46300,...,1900.0,8.00,12.0,23.00,664.00,1734.0,6316.00,not_mine,None,0
1504,1504,448,57-csves/2.csv,2,TCP,NaN,NaN,484.88450,486.3590,487.83350,...,NaN,272.75,282.5,292.25,25936.25,37891.5,49846.75,mine,Etherium,4
3290,3290,1092,562-csves/0.csv,400,UDP,TCP,NaN,0.00000,0.0000,8.22700,...,443.0,1.00,1.0,4.00,37.75,51.0,97.00,not_mine,None,0
595,595,348,56-csves/0.csv,2,TCP,NaN,NaN,143.71600,152.0290,160.34200,...,NaN,9.25,9.5,9.75,2172.25,4164.5,6156.75,mine,Bitcash,2

In [68]:
#pure_data_miner = pure_data_miner.drop('level_0',axis=1)
#pure_data_miner.head()

,index,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,...,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type,Cryptocurrency,Id_Cryptocurrency
176,176,29-csves/3.csv,6,TCP,NaN,NaN,93.88275,241.440,242.21475,1057.191,...,51748.0,11.5,16.0,21.25,478.0,2669.0,11625.0,mine,Bitcoin,1
3526,1328,682-csves/0.csv,483,TCP,UDP,NaN,0.00000,0.002,3.00200,2609.420,...,80.0,1.0,2.0,11.00,32.0,80.0,1158.0,not_mine,None,0
2039,33,9-csves/4.csv,4,TCP,NaN,NaN,231.44000,231.440,231.44000,925.760,...,NaN,8.0,8.0,8.00,330.0,1005.5,1681.0,mine,Monero,5
2324,126,66-csves/0.csv,18,TCP,UDP,NaN,75.77875,103.660,135.16800,1825.739,...,1900.0,3.0,4.0,6.00,96.0,128.0,234.0,not_mine,None,0
2213,15,8-csves/0.csv,47,TCP,UDP,NaN,3.00500,89.612,149.42500,4189.142,...,1900.0,4.0,5.0,7.00,116.0,188.0,280.0,not_mine,None,0

In [69]:
# Guarde nuestro conjunto de datos 
pure_data_miner.to_csv('pure_data_miner.csv', index=False)