In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Preparación de los datos
#### 'Features' description
- ts:     Hora de inicio del flujo
- te:     Hora de finalización del flujo
- td:     Duración del flujo
- sa:     Dirección IP origen
- da:     Dirección IP de destino
- sp:     Puerto de origen
- dp:     Puerto de destino
- pr:     Protocolo
- flg:    Banderas
- fwd:    Estado de reenvío
- stos:   Tipo de servicio de origen
- ipkt:   Paquetes de entrada
- ibyt:   Bytes de entrada
- opkt:   Paquetes de salida
- obyt:   Bytes de salida
- in:     Interfaz de entrada
- out:    Interfaz de salida
- sas:    Número de sistema autónomo BGP de origen
- das:    Número de sistema autónomo BGP de destino
- smk:    Máscara de red de origen
- dmk:    Máscara de red de destino
- dtos:   Tipo de servicio de destino
- dir:    Dirección del flujo
- nh:     Enrutador de siguiente salto
- nhb:    Enrutador de siguiente salto BGP
- svln:   VLAN de origen
- dvln:   VLAN de destino
- ismc:   Dirección MAC de la fuente de entrada   
- odmc:   Dirección MAC de destino de salida
- idmc:   Introduzca la dirección MAC de destino
- osmc:   Dirección MAC de la fuente de salida
- mpls1:  Etiqueta MPLS 1
- mpls2:  Etiqueta MPLS 2
- mpls3:  Etiqueta MPLS 3
- mpls4:  Etiqueta MPLS 4
- mpls5:  Etiqueta MPLS 5
- mpls6:  Etiqueta MPLS 6
- mpls7:  Etiqueta MPLS 7
- mpls8:  Etiqueta MPLS 8
- mpls9:  Etiqueta MPLS 9
- mpls10: Etiqueta MPLS 10
- cl:     Latencia del cliente
- sl:     Latencia del servidor
- al:     Latencia de la aplicación
- ra:     Exportando la dirección IP del sistema (enrutador)
- eng:    Tipo / ID de motor
- exid:   Exportando el ID del sistema
- tr:     Marca de tiempo de flujo recibido
- type:   Tipo de registro Mina/ no Mina 
- cryptocurrency: : Tipo criptomoneda
- id_Cryptocurrency:: Id Criptomoneda

In [9]:
# Importamos el conjunto de datos
data = pd.read_csv('./dataA.csv')
data.head()

,index,References,ts,te,td,sa,da,sp,dp,pr,...,cl,sl,al,ra,eng,exid,tr,cryptocurrency,id_Cryptocurrency,type
0,33812,134-csves/0.csv,2020-09-10 08:48:49,2020-09-10 08:48:59,9.557,120.55.220.55,192.168.0.13,443.0,56780.0,TCP,...,0.0,0.0,0.0,0.0.0.0,0/0,0.0,1969-12-31 19:00:00.000,NaN,0,not_mine
1,227478,653-csves/0.csv,2020-09-15 19:33:50,2020-09-15 19:33:50,0.000,104.91.165.202,192.168.0.13,80.0,45158.0,TCP,...,0.0,0.0,0.0,0.0.0.0,0/0,0.0,1969-12-31 19:00:00.000,NaN,0,not_mine
2,287057,834-csves/0.csv,2020-09-17 16:16:41,2020-09-17 16:19:42,180.220,192.168.0.13,23.52.112.10,58542.0,443.0,TCP,...,0.0,0.0,0.0,0.0.0.0,0/0,0.0,1969-12-31 19:00:00.000,NaN,0,not_mine
3,387249,1121-csves/0.csv,2020-09-20 12:20:12,2020-09-20 12:20:12,0.000,192.168.0.13,13.35.111.67,58192.0,443.0,TCP,...,0.0,0.0,0.0,0.0.0.0,0/0,0.0,1969-12-31 19:00:00.000,NaN,0,not_mine
4,236501,682-csves/0.csv,2020-09-16 14:09:03,2020-09-16 14:09:52,49.616,192.168.0.13,200.196.225.98,60108.0,443.0,TCP,...,0.0,0.0,0.0,0.0.0.0,0/0,0.0,1969-12-31 19:00:00.000,NaN,0,not_mine

# Análisis inicial

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465084 entries, 0 to 465083
Data columns (total 53 columns):
index                465084 non-null int64
References           465084 non-null object
ts                   465084 non-null object
te                   464976 non-null object
td                   464976 non-null float64
sa                   464976 non-null object
da                   464976 non-null object
sp                   464976 non-null float64
dp                   464976 non-null float64
pr                   464976 non-null object
flg                  464976 non-null object
fwd                  464976 non-null float64
stos                 464976 non-null float64
ipkt                 464976 non-null float64
ibyt                 464976 non-null float64
opkt                 464976 non-null float64
obyt                 464976 non-null float64
in                   464976 non-null float64
out                  464976 non-null float64
sas                  464976 non-null float64
das                  464976 non-null float64
smk                  464976 non-null float64
dmk                  464976 non-null float64
dtos                 464976 non-null float64
dir                  464976 non-null float64
nh                   464976 non-null object
nhb                  464976 non-null object
svln                 464976 non-null float64
dvln                 464976 non-null float64
ismc                 464976 non-null object
odmc                 464976 non-null object
idmc                 464976 non-null object
osmc                 464976 non-null object
mpls1                464976 non-null object
mpls2                464976 non-null object
mpls3                464976 non-null object
mpls4                464976 non-null object
mpls5                464976 non-null object
mpls6                464976 non-null object
mpls7                464976 non-null object
mpls8                464976 non-null object
mpls9                464976 non-null object
mpls10               464976 non-null object
cl                   464976 non-null float64
sl                   464976 non-null float64
al                   464976 non-null float64
ra                   464976 non-null object
eng                  464976 non-null object
exid                 464976 non-null float64
tr                   464976 non-null object
cryptocurrency       13089 non-null object
id_Cryptocurrency    465084 non-null int64
type                 465084 non-null object
dtypes: float64(23), int64(2), object(28)
memory usage: 188.1+ MB

### Inspección datos nulos

In [12]:
avaliable = data.notnull()
avaliable.apply(pd.Series.value_counts).T

                      False     True
index                   NaN  465084.0
References              NaN  465084.0
ts                      NaN  465084.0
te                    108.0  464976.0
td                    108.0  464976.0
sa                    108.0  464976.0
da                    108.0  464976.0
sp                    108.0  464976.0
dp                    108.0  464976.0
pr                    108.0  464976.0
flg                   108.0  464976.0
fwd                   108.0  464976.0
stos                  108.0  464976.0
ipkt                  108.0  464976.0
ibyt                  108.0  464976.0
opkt                  108.0  464976.0
obyt                  108.0  464976.0
in                    108.0  464976.0
out                   108.0  464976.0
sas                   108.0  464976.0
das                   108.0  464976.0
smk                   108.0  464976.0
dmk                   108.0  464976.0
dtos                  108.0  464976.0
dir                   108.0  464976.0
nh                    108.0  464976.0
nhb                   108.0  464976.0
svln                  108.0  464976.0
dvln                  108.0  464976.0
ismc                  108.0  464976.0
odmc                  108.0  464976.0
idmc                  108.0  464976.0
osmc                  108.0  464976.0
mpls1                 108.0  464976.0
mpls2                 108.0  464976.0
mpls3                 108.0  464976.0
mpls4                 108.0  464976.0
mpls5                 108.0  464976.0
mpls6                 108.0  464976.0
mpls7                 108.0  464976.0
mpls8                 108.0  464976.0
mpls9                 108.0  464976.0
mpls10                108.0  464976.0
cl                    108.0  464976.0
sl                    108.0  464976.0
al                    108.0  464976.0
ra                    108.0  464976.0
eng                   108.0  464976.0
exid                  108.0  464976.0
tr                    108.0  464976.0
cryptocurrency     451995.0   13089.0
id_Cryptocurrency       NaN  465084.0
type                    NaN  465084.0

Columnas con valores nulos:
- te: 108.0 valores 
- td: 108.0 valores 
- sa: 108.0 valores 
- da: 108.0 valores 
- sp: 108.0 valores 
- dp: 108.0 valores 
- pr: 108.0 valores 
- flg: 108.0 valores 
- fwd: 108.0 valores 
- stos: 108.0 valores 
- ipkt: 108.0 valores 
- ibyt: 108.0 valores 
- opkt: 108.0 valores 
- obyt: 108.0 valores 
- in: 108.0 valores 
- out: 108.0 valores
- sas: 108.0 valores
- das: 108.0 valores
- smk: 108.0 valores
- dmk: 108.0 valores
- dtos: 108.0 valores
- dir: 108.0 valores
- nh: 108.0 valores
- nhb: 108.0 valores
- svln: 108.0 valores
- dvln: 108.0 valores
- ismc: 108.0 valores
- odmc: 108.0 valores
- idmc: 108.0 valores
- osmc: 108.0 valores
- mpls1: 108.0 	Valores
- mpls2: 108.0 	Valores
- mpls3: 108.0 	Valores
- mpls4: 108.0 	Valores
- mpls5: 108.0 	Valores
- mpls6: 108.0 	Valores
- mpls7: 108.0 	Valores
- mpls8: 108.0 	Valores
- mpls9: 108.0 	Valores
- mpls10: 108.0 Valores
- cl:	108.0 Valores
- sl:	108.0 Valores
- al:	108.0 Valores
- ra:	108.0 Valores
- eng:	108.0 Valores
- exid:	108.0 Valores
- tr:	108.0 Valores
- cryptocurrency: 451995.0 Valores

### Estructuración del conjunto de datos
Agrupo las columnas de tipo int64, float64 y object por separado, para hacer una analisis mas organizado

In [15]:
data_numeric_int = (data.dtypes == "int64")
data_numeric_float = (data.dtypes == "float64")
data_object  = (data.dtypes == "object")
data_numeric_int = [c for c in data_numeric_int.index if data_numeric_int[c]]
data_numeric_float = [c for c in data_numeric_float.index if data_numeric_float[c]]
data_object = [c for c in data_object.index if data_object[c]]

'Features' numericas discretas

In [17]:
data_numeric_int

['index', 'id_Cryptocurrency']

'Features' numericas continuas

In [33]:
print(data_numeric_float)

['td', 'sp', 'dp', 'fwd', 'stos', 'ipkt', 'ibyt', 'opkt', 'obyt', 'in', 'out', 'sas', 'das', 'smk', 'dmk', 'dtos', 'dir', 'svln', 'dvln', 'cl', 'sl', 'al', 'exid']

'Features' categoricas

In [34]:
print(data_object)

['References', 'ts', 'te', 'sa', 'da', 'pr', 'flg', 'nh', 'nhb', 'ismc', 'odmc', 'idmc', 'osmc', 'mpls1', 'mpls2', 'mpls3', 'mpls4', 'mpls5', 'mpls6', 'mpls7', 'mpls8', 'mpls9', 'mpls10', 'ra', 'eng', 'tr', 'cryptocurrency', 'type']

# Inspección de datos no agrupados

In [36]:
#Datos categoricos
data[data_object].describe().T

                 count  unique                      top    freq
References      465084    3487         1033-csves/1.csv    3313
ts              465084   79737      2020-09-15 12:51:23     192
te              464976  105209      2020-09-15 12:51:23     192
sa              464976   10226             192.168.0.13  220340
da              464976   10252             192.168.0.13  217974
pr              464976       4                      TCP  346633
flg             464976      20                 ...A....  131167
nh              464976       1                  0.0.0.0  464976
nhb             464976       1                  0.0.0.0  464976
ismc            464976       1        00:00:00:00:00:00  464976
odmc            464976       1        00:00:00:00:00:00  464976
idmc            464976       1        00:00:00:00:00:00  464976
osmc            464976       1        00:00:00:00:00:00  464976
mpls1           464976       1                    0-0-0  464976
mpls2           464976       1                    0-0-0  464976
mpls3           464976       1                    0-0-0  464976
mpls4           464976       1                    0-0-0  464976
mpls5           464976       1                    0-0-0  464976
mpls6           464976       1                    0-0-0  464976
mpls7           464976       1                    0-0-0  464976
mpls8           464976       1                    0-0-0  464976
mpls9           464976       1                    0-0-0  464976
mpls10          464976       1                    0-0-0  464976
ra              464976       1                  0.0.0.0  464976
eng             464976       1                      0/0  464976
tr              464976       1  1969-12-31 19:00:00.000  464976
cryptocurrency   13089       5                 Etherium   10147
type            465084       2                 not_mine  451995

In [38]:
#Datos Continuos
data[data_numeric_float].describe().T

,count,mean,std,min,25%,50%,75%,max
td,464976.0,39.263422,67.287066,0.0,0.0,1.196,49.00025,5.995330e+02
sp,464976.0,23549.590486,24079.914259,0.0,443.0,4444.000,47184.00000,6.553100e+04
dp,464976.0,22467.779939,23889.626954,53.0,443.0,1900.000,46292.00000,6.479000e+04
fwd,464976.0,0.000000,0.000000,0.0,0.0,0.000,0.00000,0.000000e+00
stos,464976.0,0.000000,0.000000,0.0,0.0,0.000,0.00000,0.000000e+00
ipkt,464976.0,27.213800,364.232301,1.0,1.0,3.000,9.00000,1.108630e+05
ibyt,464976.0,20610.796146,489035.645227,8.0,39.0,96.000,1058.00000,1.634547e+08
opkt,464976.0,0.000000,0.000000,0.0,0.0,0.000,0.00000,0.000000e+00
obyt,464976.0,0.000000,0.000000,0.0,0.0,0.000,0.00000,0.000000e+00
in,464976.0,0.000000,0.000000,0.0,0.0,0.000,0.00000,0.000000e+00
out,464976.0,0.000000,0.000000,0.0,0.0,0.000,0.00000,0.000000e+00
sas,464976.0,0.000000,0.000000,0.0,0.0,0.000,0.00000,0.000000e+00
das,464976.0,0.000000,0.000000,0.0,0.0,0.000,0.00000,0.000000e+00
smk,464976.0,0.000000,0.000000,0.0,0.0,0.000,0.00000,0.000000e+00
dmk,464976.0,0.000000,0.000000,0.0,0.0,0.000,0.00000,0.000000e+00
dtos,464976.0,0.000000,0.000000,0.0,0.0,0.000,0.00000,0.000000e+00
dir,464976.0,0.000000,0.000000,0.0,0.0,0.000,0.00000,0.000000e+00
svln,464976.0,0.000000,0.000000,0.0,0.0,0.000,0.00000,0.000000e+00
dvln,464976.0,0.000000,0.000000,0.0,0.0,0.000,0.00000,0.000000e+00
cl,464976.0,0.000000,0.000000,0.0,0.0,0.000,0.00000,0.000000e+00
sl,464976.0,0.000000,0.000000,0.0,0.0,0.000,0.00000,0.000000e+00
al,464976.0,0.000000,0.000000,0.0,0.0,0.000,0.00000,0.000000e+00
exid,464976.0,0.000000,0.000000,0.0,0.0,0.000,0.00000,0.000000e+00

In [40]:
# Datos discretos
data[data_numeric_int].describe().T

,count,mean,std,min,25%,50%,75%,max
index,465084.0,219749.894886,133767.803440,0.0,103181.75,219452.5,335723.25,451994.0
id_Cryptocurrency,465084.0,0.102579,0.621102,0.0,0.00,0.0,0.00,5.0