In [690]:
import pandas as pd

In [691]:
benignoAlexa = pd.read_csv('./Conda2/ErrorReparado/BenignoAlex/TIME/BenignoAlex.csv')
benignoAlexa.head(5)

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
0,0-csves/0.csv,42,TCP,UDP,NaN,79.36600,193.4205,194.91600,6148.044,240.226,...,443,80.0,1900.0,4.00,7.0,8.0,176.50,252.0,312.0,not_mine
1,0-csves/1.csv,55,UDP,TCP,ICMP6,0.00000,0.0000,45.09550,934.235,93.159,...,53,80.0,1900.0,1.00,1.0,7.0,42.00,79.0,726.5,not_mine
2,1-csves/0.csv,150,TCP,UDP,NaN,0.48225,2.7465,166.40225,9760.033,240.234,...,443,123.0,80.0,4.25,12.0,17.0,171.25,881.5,1773.5,not_mine
3,1-csves/1.csv,125,TCP,UDP,NaN,0.00000,1.2800,4.41400,395.649,15.013,...,443,53.0,1900.0,1.00,10.0,14.0,56.00,827.0,1560.0,not_mine
4,2-csves/0.csv,30,TCP,UDP,NaN,0.00000,0.2135,32.50450,379.163,52.661,...,443,53.0,37700.0,1.00,3.5,6.5,56.50,141.5,255.0,not_mine

In [692]:
benignoAleatorio = pd.read_csv('./Conda2/ErrorReparado/Benigno/TIME/benignas.csv')
benignoAleatorio.head(5)

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
0,0-csves/0.csv,65,TCP,UDP,NaN,18.939,168.173,194.287,7845.126,244.362,...,443,80.0,123.0,3.0,7.0,22.0,127.0,255.0,1888.00,not_mine
1,0-csves/1.csv,18,UDP,TCP,NaN,0.000,0.000,0.000,0.086,0.044,...,443,53.0,53195.0,1.0,1.0,1.0,37.0,47.0,64.00,not_mine
2,1-csves/0.csv,10,UDP,NaN,NaN,0.000,0.000,0.000,0.000,0.000,...,53,39308.0,54454.0,1.0,1.0,1.0,34.0,43.0,61.75,not_mine
3,1-csves/1.csv,2771,UDP,TCP,ICMP6,0.000,0.000,0.000,8548.902,149.034,...,53,5355.0,443.0,1.0,1.0,1.0,39.0,49.0,54.00,not_mine
4,2-csves/0.csv,2,UDP,NaN,NaN,0.000,0.000,0.000,0.000,0.000,...,48871,53.0,NaN,1.0,1.0,1.0,37.0,41.0,45.00,not_mine

In [693]:
bitcash = pd.read_csv('./Conda2/ErrorReparado/bitcash/TIME/bitcash.csv')
bitcash.head(5)

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
0,0-csves/0.csv,2,TCP,NaN,NaN,273.28125,273.2815,273.28175,546.563,273.282,...,3337,54082.0,NaN,18.00,18.0,18.00,4702.50,9045.0,13387.50,mine
1,0-csves/1.csv,2,TCP,NaN,NaN,508.01725,508.0175,508.01775,1016.035,508.018,...,3337,54082.0,NaN,19.50,20.0,20.50,4552.75,8475.5,12398.25,mine
2,0-csves/2.csv,2,TCP,NaN,NaN,538.59450,538.5950,538.59550,1077.190,538.596,...,3337,54082.0,NaN,34.25,34.5,34.75,7903.25,15001.5,22099.75,mine
3,0-csves/3.csv,2,TCP,NaN,NaN,215.98650,215.9870,215.98750,431.974,215.988,...,3337,54082.0,NaN,13.00,13.0,13.00,2818.25,5376.5,7934.75,mine
4,0-csves/5.csv,2,TCP,NaN,NaN,258.54425,258.5445,258.54475,517.089,258.545,...,3337,54082.0,NaN,12.00,12.0,12.00,2828.50,5417.0,8005.50,mine

In [694]:
bitcoin = pd.read_csv('./Conda2/ErrorReparado/bitcoin/TIME/bitcoin.csv')
bitcoin.head(5)

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
0,0-csves/0.csv,4,TCP,NaN,NaN,114.79300,180.0435,245.27525,720.099,245.276,...,3332,51931,51934.0,10.00,12.5,15.00,433.00,3820.0,8314.00,mine
1,0-csves/1.csv,2,TCP,NaN,NaN,196.18225,196.1895,196.19675,392.379,196.204,...,3332,51905,NaN,10.50,11.0,11.50,2679.50,5159.0,7638.50,mine
2,0-csves/2.csv,2,TCP,NaN,NaN,244.14325,244.1435,244.14375,488.287,244.144,...,3332,51911,NaN,16.00,16.0,16.00,3642.75,6807.5,9972.25,mine
3,0-csves/3.csv,2,TCP,NaN,NaN,244.04600,244.0460,244.04600,488.092,244.046,...,3332,51908,NaN,16.00,16.0,16.00,3592.50,6707.0,9821.50,mine
4,0-csves/4.csv,2,TCP,NaN,NaN,246.79500,246.7950,246.79500,493.590,246.795,...,51915,3332,NaN,17.75,18.5,19.25,3728.75,6959.5,10190.25,mine

In [695]:
litecoin = pd.read_csv('./Conda2/ErrorReparado/litecoin/TIME/litecoin.csv')
litecoin.head(5)

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
0,0-csves/1.csv,2,TCP,NaN,NaN,57.68200,57.6820,57.68200,115.364,57.682,...,3333,56490.0,NaN,3.00,3.0,3.00,625.25,1190.5,1755.75,mine
1,0-csves/2.csv,2,TCP,NaN,NaN,580.17325,580.1735,580.17375,1160.347,580.174,...,3333,56490.0,NaN,43.00,44.0,45.00,7810.00,14276.0,20742.00,mine
2,1-csves/0.csv,2,TCP,NaN,NaN,570.96525,570.9665,570.96775,1141.933,570.969,...,3333,52003.0,NaN,43.25,43.5,43.75,10058.00,19130.0,28202.00,mine
3,1-csves/1.csv,2,TCP,NaN,NaN,293.25925,293.2595,293.25975,586.519,293.260,...,3333,52003.0,NaN,21.75,22.5,23.25,4348.00,7898.0,11448.00,mine
4,1-csves/3.csv,2,TCP,NaN,NaN,283.48725,283.4885,283.48975,566.977,283.491,...,3333,52003.0,NaN,18.25,18.5,18.75,3687.50,6889.0,10090.50,mine

In [696]:
eth = pd.read_csv('./Conda2/ErrorReparado/eth/TIME/eth.csv')
eth.head(5)

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
0,0-csves/0.csv,14,TCP,NaN,NaN,22.79225,56.2595,74.00125,812.963,144.351,...,4444,58780.0,NaN,16.25,38.0,45.50,1636.25,2336.5,8438.25,mine
1,0-csves/1.csv,2,TCP,NaN,NaN,316.98975,317.9455,318.90125,635.891,319.857,...,4444,58780.0,NaN,172.25,178.5,184.75,16359.50,24185.0,32010.50,mine
2,0-csves/2.csv,12,TCP,NaN,NaN,5.37800,10.0515,55.98100,295.202,66.441,...,4444,58780.0,NaN,4.00,6.0,37.25,317.00,998.5,1636.25,mine
3,0-csves/3.csv,2,TCP,NaN,NaN,297.54825,297.5485,297.54875,595.097,297.549,...,4444,58780.0,NaN,181.75,186.5,191.25,16929.50,25713.0,34496.50,mine
4,0-csves/4.csv,12,TCP,NaN,NaN,19.31425,59.8090,93.22700,1164.029,339.552,...,4444,58780.0,NaN,11.50,32.5,53.00,1551.00,2442.0,9313.25,mine

In [697]:
monero = pd.read_csv('./Conda2/ErrorReparado/monero/TIME/monero.csv')
monero.head(5)

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
0,0-csves/0.csv,4,TCP,NaN,NaN,523.726,523.726,523.726,2094.904,523.726,...,51085,14444,NaN,21.0,21.0,21.0,1270.0,2339.0,3408.0,mine
1,0-csves/1.csv,4,TCP,NaN,NaN,485.351,485.351,485.351,1941.404,485.351,...,51085,14444,NaN,14.0,14.0,14.0,304.0,1993.0,3682.0,mine
2,0-csves/2.csv,4,TCP,NaN,NaN,285.820,285.820,285.820,1143.280,285.820,...,51085,14444,NaN,11.0,11.0,11.0,560.0,1303.5,2047.0,mine
3,1-csves/1.csv,4,TCP,NaN,NaN,555.530,555.567,555.604,2222.268,555.604,...,51085,14444,NaN,19.0,19.0,19.0,1060.0,2182.5,3305.0,mine
4,1-csves/3.csv,4,TCP,NaN,NaN,272.225,272.226,272.227,1088.904,272.227,...,51085,14444,NaN,6.0,6.0,6.0,120.0,849.0,1578.0,mine

In [698]:
sinclasificar = pd.read_csv('./Conda2/ErrorReparado/sinclasificar/VentanaTime/sinclasificar.csv')
sinclasificar.head(5)

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
0,0-csves/0.csv,8093,TCP,UDP,ICMP,0.12000,0.1220,0.12400,11392.454,177.706,...,53,443.0,80.0,2.00,2.0,2.00,40.0,88.0,88.00,mine
1,0-csves/1.csv,44009,TCP,UDP,NaN,0.12000,0.1210,0.12400,10810.666,55.906,...,53,443.0,80.0,2.00,2.0,2.00,40.0,70.0,88.00,mine
2,1-csves/0.csv,2,TCP,NaN,NaN,241.42125,283.2175,325.01375,566.435,366.810,...,443,49270.0,NaN,17.25,20.5,23.75,1934.5,1961.0,1987.50,mine
3,1-csves/1.csv,21,TCP,UDP,NaN,0.00000,7.5400,7.70100,221.804,135.018,...,443,53.0,62357.0,1.00,13.0,19.00,52.0,808.0,8002.00,mine
4,2-csves/0.csv,324,TCP,UDP,NaN,0.00000,1.8855,27.30475,6537.966,300.124,...,443,5355.0,53.0,1.00,5.0,11.00,50.0,316.0,2231.75,mine

In [699]:
print(benignoAlexa.shape,benignoAleatorio.shape,bitcash.shape,bitcoin.shape,litecoin.shape,eth.shape,monero.shape,sinclasificar.shape)

(973, 31) (696, 31) (485, 31) (247, 31) (324, 31) (950, 31) (192, 31) (37033, 31)

In [700]:
benignoAlexa['Cryptocurrency'] = None
benignoAlexa['Id_Cryptocurrency'] = 0

In [701]:
bitcoin['Cryptocurrency'] = 'Bitcoin'
bitcoin['Id_Cryptocurrency'] = 1
bitcash['Cryptocurrency'] = 'Bitcash'
bitcash['Id_Cryptocurrency'] = 2
litecoin['Cryptocurrency'] = 'Litecoin'
litecoin['Id_Cryptocurrency'] = 3
eth['Cryptocurrency'] = 'Etherium'
eth['Id_Cryptocurrency'] = 4
monero['Cryptocurrency'] = 'Monero'
monero['Id_Cryptocurrency'] = 5
sinclasificar['Cryptocurrency'] = 'sinclasificar'
sinclasificar['Id_Cryptocurrency'] = 6

In [702]:
bitcoin.tail(3)
bitcash.tail(3)
litecoin.tail(3)

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type,Cryptocurrency,Id_Cryptocurrency
321,76-csves/3.csv,2,TCP,NaN,NaN,285.37900,285.3790,285.37900,570.758,285.379,...,NaN,24.75,25.5,26.25,4627.50,8400.0,12172.50,mine,Litecoin,3
322,76-csves/4.csv,2,TCP,NaN,NaN,267.03625,267.0365,267.03675,534.073,267.037,...,NaN,21.00,21.0,21.00,4370.50,8321.0,12271.50,mine,Litecoin,3
323,76-csves/5.csv,2,TCP,NaN,NaN,285.25700,285.2580,285.25900,570.516,285.260,...,NaN,24.50,25.0,25.50,4909.75,9089.5,13269.25,mine,Litecoin,3

In [703]:
pure_data_miner = pd.concat([bitcoin,bitcash,litecoin,eth,monero,benignoAlexa], axis=0)

In [704]:
pure_data_miner.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            963, 964, 965, 966, 967, 968, 969, 970, 971, 972],
           dtype='int64', length=3171)

In [705]:
pure_data_miner.head()

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type,Cryptocurrency,Id_Cryptocurrency
0,0-csves/0.csv,4,TCP,NaN,NaN,114.79300,180.0435,245.27525,720.099,245.276,...,51934.0,10.00,12.5,15.00,433.00,3820.0,8314.00,mine,Bitcoin,1
1,0-csves/1.csv,2,TCP,NaN,NaN,196.18225,196.1895,196.19675,392.379,196.204,...,NaN,10.50,11.0,11.50,2679.50,5159.0,7638.50,mine,Bitcoin,1
2,0-csves/2.csv,2,TCP,NaN,NaN,244.14325,244.1435,244.14375,488.287,244.144,...,NaN,16.00,16.0,16.00,3642.75,6807.5,9972.25,mine,Bitcoin,1
3,0-csves/3.csv,2,TCP,NaN,NaN,244.04600,244.0460,244.04600,488.092,244.046,...,NaN,16.00,16.0,16.00,3592.50,6707.0,9821.50,mine,Bitcoin,1
4,0-csves/4.csv,2,TCP,NaN,NaN,246.79500,246.7950,246.79500,493.590,246.795,...,NaN,17.75,18.5,19.25,3728.75,6959.5,10190.25,mine,Bitcoin,1

In [706]:
pure_data_miner = pure_data_miner.reset_index()

In [707]:
indices = list(range(0,3171))
import random
random.shuffle(indices)

In [708]:
pure_data_miner = pure_data_miner.reindex(indices)
pure_data_miner

,index,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,...,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type,Cryptocurrency,Id_Cryptocurrency
2737,539,277-csves/0.csv,121,TCP,UDP,NaN,166.51200,194.9020,238.83300,20513.526,...,1900.0,6.00,7.0,8.00,120.00,256.0,696.00,not_mine,None,0
109,109,18-csves/1.csv,5,TCP,NaN,NaN,0.00000,0.0000,197.67900,395.387,...,52760.0,1.00,2.0,13.00,20.00,40.0,418.00,mine,Bitcoin,1
460,213,34-csves/7.csv,2,TCP,NaN,NaN,278.21825,278.2185,278.21875,556.437,...,NaN,19.00,19.0,19.00,4521.75,8663.5,12805.25,mine,Bitcash,2
172,172,28-csves/4.csv,6,TCP,NaN,NaN,60.40225,240.7755,244.07750,972.394,...,51815.0,8.50,16.5,17.00,483.00,1114.5,10307.25,mine,Bitcoin,1
2078,72,21-csves/0.csv,4,TCP,NaN,NaN,272.00800,272.0445,272.08100,1088.178,...,NaN,13.00,13.0,13.00,770.00,1460.0,2150.00,mine,Monero,5
111,111,18-csves/3.csv,2,TCP,NaN,NaN,244.87525,244.8755,244.87575,489.751,...,NaN,18.00,20.0,22.00,3833.50,7189.0,10544.50,mine,Bitcoin,1
898,166,39-csves/1.csv,2,TCP,NaN,NaN,290.82100,290.8210,290.82100,581.642,...,NaN,21.25,21.5,21.75,5462.25,10378.5,15294.75,mine,Litecoin,3
2655,457,235-csves/0.csv,26,TCP,UDP,NaN,75.77600,104.5990,135.16800,2569.024,...,1900.0,3.25,4.0,5.75,96.00,128.0,248.00,not_mine,None,0
2782,584,299-csves/1.csv,63,TCP,UDP,NaN,75.77850,104.1480,135.16050,6042.852,...,1900.0,4.00,5.0,6.00,128.00,160.0,248.00,not_mine,None,0
3148,950,489-csves/0.csv,82,TCP,UDP,NaN,0.00000,0.0000,1.04700,286.797,...,1900.0,1.00,1.0,3.00,32.00,32.0,237.00,not_mine,None,0
61,61,10-csves/1.csv,2,TCP,NaN,NaN,59.41925,59.4365,59.45375,118.873,...,NaN,4.00,4.0,4.00,693.25,1306.5,1919.75,mine,Bitcoin,1
1584,528,65-csves/0.csv,2,TCP,NaN,NaN,320.33300,320.3330,320.33300,640.666,...,NaN,179.50,184.0,188.50,16673.50,24552.0,32430.50,mine,Etherium,4
1631,575,71-csves/8.csv,34,TCP,NaN,NaN,8.02375,11.7430,17.25150,470.385,...,NaN,6.25,9.0,11.75,472.00,678.0,1977.00,mine,Etherium,4
2176,170,48-csves/3.csv,4,TCP,NaN,NaN,526.90400,526.9050,526.90600,2107.620,...,NaN,12.00,12.0,12.00,252.00,1704.0,3156.00,mine,Monero,5
613,366,58-csves/8.csv,2,TCP,NaN,NaN,545.53700,545.5370,545.53700,1091.074,...,NaN,29.00,29.0,29.00,6912.75,13245.5,19578.25,mine,Bitcash,2
2083,77,22-csves/1.csv,4,TCP,NaN,NaN,564.13200,564.1325,564.13300,2256.530,...,NaN,16.00,16.0,16.00,660.00,2011.0,3362.00,mine,Monero,5
1417,361,41-csves/5.csv,2,TCP,NaN,NaN,325.80200,325.8020,325.80200,651.604,...,NaN,172.50,179.0,185.50,16447.75,24341.5,32235.25,mine,Etherium,4
348,101,15-csves/5.csv,2,TCP,NaN,NaN,223.87825,227.2165,230.55475,454.433,...,NaN,11.00,11.0,11.00,2508.75,4692.5,6876.25,mine,Bitcash,2
2071,65,19-csves/2.csv,4,TCP,NaN,NaN,277.84100,277.8410,277.84100,1111.364,...,NaN,10.00,10.0,10.00,370.00,1288.5,2207.00,mine,Monero,5
125,125,20-csves/5.csv,2,TCP,NaN,NaN,244.88200,244.8820,244.88200,489.764,...,NaN,14.25,14.5,14.75,3484.00,6512.0,9540.00,mine,Bitcoin,1
1093,37,7-csves/1.csv,2,TCP,NaN,NaN,374.94675,374.9665,374.98625,749.933,...,NaN,211.25,217.5,223.75,19633.00,29773.0,39913.00,mine,Etherium,4
622,375,60-csves/4.csv,2,TCP,NaN,NaN,576.46725,576.4675,576.46775,1152.935,...,NaN,27.25,27.5,27.75,6278.50,11892.0,17505.50,mine,Bitcash,2
2778,580,297-csves/1.csv,16,TCP,UDP,NaN,0.44300,30.6590,58.67300,657.614,...,39694.0,3.00,4.0,5.00,120.00,204.0,375.00,not_mine,None,0
2986,788,406-csves/0.csv,47,TCP,UDP,NaN,0.00000,0.0000,0.03000,453.794,...,1900.0,1.00,1.0,3.00,48.00,48.0,124.00,not_mine,None,0
2946,748,384-csves/1.csv,98,TCP,UDP,NaN,0.00000,36.9650,90.10750,4291.292,...,53.0,1.00,3.0,11.75,35.50,96.0,1671.00,not_mine,None,0
1536,480,59-csves/26.csv,2,TCP,NaN,NaN,593.56750,593.5900,593.61250,1187.180,...,NaN,327.00,338.0,349.00,30522.00,45392.0,60262.00,mine,Etherium,4
201,201,33-csves/3.csv,2,TCP,NaN,NaN,208.09800,208.0980,208.09800,416.196,...,NaN,15.50,17.0,18.50,3053.50,5669.0,8284.50,mine,Bitcoin,1
2265,67,36-csves/0.csv,171,TCP,UDP,NaN,0.60050,126.2010,227.25700,20301.974,...,80.0,3.00,19.0,33.00,375.00,2516.0,6906.50,not_mine,None,0
1420,364,42-csves/3.csv,8,TCP,NaN,NaN,12.74675,105.8330,236.68950,1154.782,...,NaN,6.50,56.5,136.00,343.00,3355.5,13418.25,mine,Etherium,4
1565,509,61-csves/3.csv,2,TCP,NaN,NaN,458.35050,459.3280,460.30550,918.656,...,NaN,240.50,249.0,257.50,22709.00,33534.0,44359.00,mine,Etherium,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1112,56,10-csves/4.csv,32,TCP,NaN,NaN,10.21300,18.3875,25.73050,574.899,...,NaN,7.00,11.5,16.00,511.00,982.0,2804.00,mine,Etherium,4
2015,9,2-csves/4.csv,4,TCP,NaN,NaN,245.57200,245.5720,245.57200,982.288,...,NaN,8.00,8.0,8.00,330.00,1005.5,1681.00,mine,Monero,5
1123,67,13-csves/1.csv,36,TCP,NaN,NaN,4.35600,9.9885,17.88525,500.415,...,NaN,4.00,7.5,10.25,287.25,750.0,1923.00,mine,Etherium,4
1963,907,104-csves/2.csv,34,TCP,NaN,NaN,3.33500,6.5745,16.60600,557.079,...,NaN,2.25,6.0,12.75,267.00,548.0,1639.50,mine,Etherium,4
3071,873,449-csves/1.csv,83,TCP,UDP,NaN,3.00300,29.2430,103.61400,4558.888,...,1900.0,2.00,4.0,5.00,52.00,120.0,160.00,not_mine,None,0
60,60,10-csves/0.csv,2,TCP,NaN,NaN,241.92425,241.9245,241.92475,483.849,...,NaN,17.25,19.5,21.75,3816.50,7177.0,10537.50,mine,Bitcoin,1
1957,901,103-csves/1.csv,18,TCP,NaN,NaN,6.07225,16.1210,29.99300,576.177,...,NaN,5.25,10.0,20.25,347.00,1242.5,2887.50,mine,Etherium,4
2950,752,386-csves/1.csv,353,TCP,UDP,ICMP6,0.00000,45.0860,102.25100,17335.557,...,80.0,1.00,3.0,5.00,32.00,128.0,375.00,not_mine,None,0
1232,176,27-csves/5.csv,2,TCP,NaN,NaN,329.99200,329.9920,329.99200,659.984,...,NaN,206.00,208.0,210.00,18721.00,28240.0,37759.00,mine,Etherium,4
3066,868,447-csves/0.csv,239,TCP,UDP,NaN,58.44650,59.6810,92.12400,18012.016,...,33930.0,3.00,4.0,5.00,96.00,128.0,208.00,not_mine,None,0
1927,871,102-csves/5.csv,4,TCP,NaN,NaN,84.82675,115.2625,146.69600,465.041,...,NaN,53.25,65.0,78.50,3596.50,7515.0,12842.00,mine,Etherium,4
1508,452,58-csves/0.csv,12,TCP,NaN,NaN,7.10700,43.8245,116.61900,675.487,...,NaN,5.00,21.0,60.25,1030.50,2178.5,4013.50,mine,Etherium,4
176,176,29-csves/3.csv,6,TCP,NaN,NaN,93.88275,241.4400,242.21475,1057.191,...,51748.0,11.50,16.0,21.25,478.00,2669.0,11625.00,mine,Bitcoin,1
2523,325,167-csves/0.csv,41,TCP,UDP,NaN,13.31500,45.0530,45.07200,1321.729,...,59450.0,2.00,3.0,4.00,64.00,96.0,184.00,not_mine,None,0
3044,846,436-csves/0.csv,146,TCP,UDP,NaN,0.00000,43.6230,55.42200,4795.003,...,53.0,1.00,3.0,6.75,48.00,128.0,688.00,not_mine,None,0
695,448,72-csves/8.csv,2,TCP,NaN,NaN,284.02975,284.0305,284.03125,568.061,...,NaN,10.00,10.0,10.00,2510.50,4821.0,7131.50,mine,Bitcash,2
2566,368,189-csves/0.csv,325,UDP,TCP,NaN,0.00000,0.0000,10.50100,5626.128,...,123.0,1.00,1.0,12.00,47.00,137.0,2264.00,not_mine,None,0
1712,656,78-csves/21.csv,12,TCP,NaN,NaN,17.09700,28.5060,39.47725,355.201,...,NaN,11.75,16.5,21.25,552.00,1418.0,3254.75,mine,Etherium,4
91,91,15-csves/1.csv,4,TCP,NaN,NaN,146.18975,195.3465,244.49600,781.357,...,52175.0,14.00,15.0,17.25,438.00,4899.0,10482.25,mine,Bitcoin,1
2818,620,319-csves/0.csv,1075,TCP,UDP,NaN,0.37900,15.2360,167.59150,83936.306,...,123.0,6.00,12.0,20.00,397.00,2100.0,5877.00,not_mine,None,0
2161,155,44-csves/1.csv,4,TCP,NaN,NaN,262.37800,262.3780,262.37800,1049.512,...,NaN,12.00,12.0,12.00,750.00,1318.5,1887.00,mine,Monero,5
250,3,0-csves/3.csv,2,TCP,NaN,NaN,215.98650,215.9870,215.98750,431.974,...,NaN,13.00,13.0,13.00,2818.25,5376.5,7934.75,mine,Bitcash,2
2494,296,152-csves/0.csv,54,UDP,NaN,NaN,0.00000,0.0000,0.00000,0.000,...,53351.0,1.00,1.0,1.00,40.00,51.0,108.75,not_mine,None,0
1375,319,34-csves/45.csv,4,TCP,NaN,NaN,59.53200,163.6370,267.76175,654.627,...,NaN,37.00,93.0,153.50,6361.75,8062.5,14784.75,mine,Etherium,4
2968,770,396-csves/1.csv,79,UDP,TCP,NaN,66.00000,69.0310,148.37100,7762.569,...,80.0,2.00,3.0,5.00,96.00,128.0,206.00,not_mine,None,0
1022,290,69-csves/5.csv,2,TCP,NaN,NaN,296.15400,296.1540,296.15400,592.308,...,NaN,21.75,22.5,23.25,4376.00,7954.0,11532.00,mine,Litecoin,3
147,147,24-csves/3.csv,2,TCP,NaN,NaN,241.00700,241.0070,241.00700,482.014,...,NaN,18.00,20.0,22.00,3819.00,7160.0,10501.00,mine,Bitcoin,1
921,189,44-csves/4.csv,2,TCP,NaN,NaN,262.59675,262.5975,262.59825,525.195,...,NaN,12.00,12.0,12.00,3053.75,5867.5,8681.25,mine,Litecoin,3
3072,874,450-csves/0.csv,1349,TCP,UDP,NaN,1.53600,12.1430,115.84700,93457.902,...,1900.0,7.00,12.0,18.00,781.00,2316.0,5758.00,not_mine,None,0
2711,513,264-csves/0.csv,748,TCP,UDP,NaN,5.43175,10.3355,132.45875,51390.722,...,80.0,7.75,12.0,18.00,1053.00,2379.0,5892.75,not_mine,None,0

In [709]:
pure_data_miner.to_csv('pure_data_miner.csv', index=False)